.u-bg-green,
%u-bg-green{
    background-color: $green;
}

%u-bg-green-hover{
    background-color: $green-hover;
}

.u-bg-w,
%u-bg-w{
    background-color: $white;
}

.u-bg-b,
%u-bg-b{
    background-color: $black;
}

.u-color-w,
%u-color-w{
    color: $white;
}

.u-color-b,
%u-color-b{
    color: $black;
}
