/* ==========================================================================
   # FONTS
   ========================================================================== */
   @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-SemiBoldItalic.eot');
    src: url('../../assets/fonts/Poppins/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-SemiBoldItalic.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Black.eot');
    src: url('../../assets/fonts/Poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-Black.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-Black.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-BlackItalic.eot');
    src: url('../../assets/fonts/Poppins/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-BlackItalic.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-BlackItalic.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Regular.eot');
    src: url('../../assets/fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-Regular.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Italic.eot');
    src: url('../../assets/fonts/Poppins/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-Italic.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-Italic.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Light.eot');
    src: url('../../assets/fonts/Poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-Light.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-Light.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-ExtraBoldItalic.eot');
    src: url('../../assets/fonts/Poppins/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Medium.eot');
    src: url('../../assets/fonts/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-Medium.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-LightItalic.eot');
    src: url('../../assets/fonts/Poppins/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-LightItalic.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-LightItalic.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-MediumItalic.eot');
    src: url('../../assets/fonts/Poppins/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-MediumItalic.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-MediumItalic.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-SemiBold.eot');
    src: url('../../assets/fonts/Poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-ThinItalic.eot');
    src: url('../../assets/fonts/Poppins/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-ThinItalic.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-ThinItalic.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-ExtraLight.eot');
    src: url('../../assets/fonts/Poppins/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-ExtraLight.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-ExtraLight.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Thin.eot');
    src: url('../../assets/fonts/Poppins/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-Thin.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-Thin.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Bold.eot');
    src: url('../../assets/fonts/Poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-Bold.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-ExtraBold.eot');
    src: url('../../assets/fonts/Poppins/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-ExtraBold.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-ExtraLightItalic.eot');
    src: url('../../assets/fonts/Poppins/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-ExtraLightItalic.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-ExtraLightItalic.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-BoldItalic.eot');
    src: url('../../assets/fonts/Poppins/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-BoldItalic.woff2') format('woff2'),
        // url('../../assets/fonts/Poppins/Poppins-BoldItalic.woff') format('woff'),
        url('../../assets/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'slick';
    src: url('../../assets/fonts/slick/slick.eot');
    src: url('../../assets/fonts/slick/slick.eot?#iefix') format('embedded-opentype'),
        // url('../../assets/fonts/Poppins/Poppins-Black.woff2') format('woff2'),
        url('../../assets/fonts/slick/slick.woff') format('woff'),
        url('../../assets/fonts/slick/slick.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }