.c-txt-trans-u{
    text-transform: uppercase;
}

.c-txt-trans-l{
    text-transform: lowercase;
}

.c-txt-trans-c{
    text-transform: capitalize;
}

.c-txt-align-c{
    text-align: center;
}

.c-txt-align-l{
    text-align: left;
}

.c-txt-align-r{
    text-align: right;
}